<div class="col-sm-4" style="margin: auto;">
    <a class="left" href="mailto:singerep@bu.edu">
        <i class="fa fa-envelope" style="font-size:24px; padding-right: 5px"></i>
        <p>singerep@bu.edu</p>
    </a>
</div>
<div class="col-sm-4"  style="margin: auto;">
    <a class="center" href="https://twitter.com/ethanpsinger">
        <i class="fa fa-twitter" style="font-size:24px; padding-right: 5px"></i>
        <p>ethanpsinger</p>
    </a>
</div>
<div class="col-sm-4"  style="margin: auto;">
    <a class="right" href="https://www.linkedin.com/in/ethanpsinger/">
        <i class="fa fa-linkedin-square" style="font-size:24px; padding-right: 5px;"></i>
        <p>ethanpsinger</p>
    </a>
</div>